{% extends "base.html" %}

{% set title = "Leaderboard" %}

{% block content %}
{% if leaderboard %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Profit</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in leaderboard %}
      <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.profit }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Leaderboard is empty, please run an auction first.</p>
  {% endif %}
  {% endblock %}
</div>
</main>
</div>
</div>